*{
    margin:0;
    padding:0;
}

h1{
    font-size: 100%;
    font-size: 5.8823529411765rem;
    font-weight: 80%;
    font-family: 'Yanone Kaffeesatz','sans-serif';
    line-height: 1.4em;
    color: white;
}

h2{
    vertical-align: baseline;
}

h5{
    text-align: center;
}

#eslogan{
    color: white;
}

#header{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background: #D9BFFF;
}

.logo{
    height: 60px;
}

#logo1{
    height: 100%;
    width: auto;
}

.menu{
    display: flex;
    align-items: center;
}
#menup{
    width: 50%;
}

#menu{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
}

#inicio{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
        rgba(70, 35, 122, 82%), 
        rgba(70, 35, 122, 82%)
        ),
        url(../image/sala_restaurante.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    opacity: 90%;
}

#seccion1{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90%;
    width: 90%;
}

#mensaje1{
    padding: 5%;
}

#mensaje{
    max-width: 30%;
    width: 90%;
    height: 80%;
}

.inp-login{
    width: 100%;
}

#login{
    height: 90%;
    width: 80%;
    background-color: white;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#login-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width:100%;
}

#h1{
    height: 80%;
}

#form1{
    display: flex;
    width: 75%;
    height: 70%;
    flex-direction: column;
    justify-content: space-around;
}

.boton1:link, .boton1:visited{
    background-color: black;
    color: white;
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 6px;
    margin: 1%;
}

.boton1:hover, .boton1:active{
    background-color: white;
    color: black;
    border: 1px solid black; 

}


.seccion{
    /*width: 100%;*/
    height: 100vh;
    background-color: white;
}

.d-block{
    max-width: 100%;
    height: auto;
}

#carouselExampleCaptions{
    max-height: 100%;
}


@media screen and (max-width: 1200px){
    h1{
        font-size: 4.882353rem;
    }
    #mensaje{
        max-width: 35%;
    }
}

@media screen and (max-width: 1050px){
    h1{
        font-size: 3.882353rem;
    }
    #mensaje{
        max-width: 40%;
    }

    #part1{
        height: 90%;
    }
}

@media screen and (max-width: 850px){
    h1{
        font-size: 2.5rem;
    }
    #seccion1{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 95%;
    }
    #mensaje{
        max-width: 70%;
    }
    #mensaje1{
        padding: 2%;
    }
}

@media screen and (max-width: 460px){
    h1{
        font-size: 2rem;
    }
    #mensaje{
        max-width: 80%;
    }
}

@media screen and (max-width: 270px){
    h1{
        font-size: 2rem;
    }
    #mensaje{
        max-width: 98%;
    }
}
