*{
    margin:0;
    padding:0;
}

h1{
    font-size: 100%;
    font-size: 5.8823529411765rem;
    font-weight: 80%;
    font-family: 'Yanone Kaffeesatz','sans-serif';
    line-height: 1.4em;
}

h2{
    vertical-align: baseline;
}

h5{
    text-align: center;
}

#header{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background: #D9BFFF;
}

.logo{
    height: 60px;
}

#logo1{
    height: 100%;
    width: auto;
}

.menu{
    display: flex;
    align-items: center;
}
#menup{
    width: 50%;
}

#menu{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
}

#inicio{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
        rgba(70, 35, 122, 82%), 
        rgba(70, 35, 122, 82%)
        ),
        url(../image/sala_restaurante.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-size: cover;
    opacity: 90%;
}

#inicio2{
    width: 100%;
    height: 100vh;
    background-color: greenyellow;
}

#seccion1{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90%;
    width: 90%;
}

#mensaje1{
    padding: 5%;
}

#mensaje{
    max-width: 30%;
    width: 90%;
    height: 80%;
}

.inp-login{
    width: 100%;
}

#login{
    height: 80%;
    width: 80%;
    background-color: white;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#login-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width:100%;
}

#h1{
    height: 80%;
}

#form1{
    display: flex;
    height: 70%;
    flex-direction: column;
    justify-content: space-around;
}

